
back/YoutubeSearch/.vs/YoutubeSearch/v17/

*.dll

*.exe

*.pdb

*.cache

back/YoutubeSearch/YoutubeSearch.Api/obj/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Api/obj/

back/YoutubeSearch/YoutubeSearch.Domain/obj/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Domain/obj/

back/YoutubeSearch/YoutubeSearch.Persistence/obj/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Persistence/obj/

back/YoutubeSearch/YoutubeSearch.Service/obj/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Service/obj/

back/YoutubeSearch/YoutubeSearch.Api/bin/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Domain/bin/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Persistence/bin/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Service/bin/Debug/net6.0/
