
back/YoutubeSearch/.vs/YoutubeSearch/v17/

*.dll

*.exe

*.pdb

*.cache

back/YoutubeSearch/YoutubeSearch.Api/obj/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Api/obj/

back/YoutubeSearch/YoutubeSearch.Domain/obj/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Domain/obj/

back/YoutubeSearch/YoutubeSearch.Persistence/obj/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Persistence/obj/

back/YoutubeSearch/YoutubeSearch.Service/obj/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Service/obj/

back/YoutubeSearch/YoutubeSearch.Api/bin/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Domain/bin/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Persistence/bin/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Service/bin/Debug/net6.0/

*.db-wal

*.db

*.db-shm

back/YoutubeSearch/.vs/ProjectEvaluation/

back/YoutubeSearch/.vs/YoutubeSearch/DesignTimeBuild/

*.vsidx

back/YoutubeSearch/YoutubeSearch.Api.Test/bin/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Api.Test/obj/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Api.Test/obj/

back/YoutubeSearch/YoutubeSearch.Tests.Common/bin/Debug/net6.0/

back/YoutubeSearch/YoutubeSearch.Tests.Common/obj/Debug/net6.0/

back/YoutubeSearch/.vs/YoutubeSearch/FileContentIndex/

back/YoutubeSearch/YoutubeSearch.Tests.Common/obj/
